body {
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    margin: 0;
}  

ul {
    list-style: none;
    margin: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(230, 207, 143);
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
}

.subheader img {
    border-radius: 15px;
    box-shadow: 0 0 2px 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(45, 56, 27), antiquewhite);
    margin-top: 0;
    padding-bottom: 50px;
}

.subheader {
    display: flex;
    background: linear-gradient(antiquewhite, white) ;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 320px;
    min-width: 260px;
  
}

.welcome > button {
    font-size: large;
    padding: 6px 14px;
    background-color: rgb(60, 68, 23);
    color: rgb(255, 255, 255);
    font-weight: 400;
    border-radius: 5px;
    border-color: ;
    
}
.welcome > h1 {
    font-weight: bolder;
}

.welcome > p {
    margin-top: -18px;
    color: rgb(58, 58, 58);
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(white, rgb(197, 138, 61));
    padding-bottom: 14px;
}

.containinfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 14px;
    gap: 80px;
}

.info .step {
    flex-direction: column;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
}

.step img {
    border-radius: 100%;
    box-shadow: 0 0 14px 2px;
    margin-bottom: 10px;
}

.substep {
    color: rgb(41, 41, 41);
}

.footer {
    background: linear-gradient( rgb(197, 138, 61), rgb(77, 50, 0));
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.newsletter {
    background-color: bisque;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 8px 14px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

.newsletter p {
    max-width: 360px;
}

.buttonstack {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.buttonstack button {
    background-color: transparent;
    border-radius: 8px;
    max-width: 180px;
}

.buttonstack a {
    color: rgb(54, 23, 4);
    font-weight: 600;
}

.buttonstack input {
    max-width: 160px;
    border-radius: 8px;
    padding: 4px;
 }
.quote {
    max-width: 640px;
    min-height: 180px;
    text-align: center;
    font-style: italic;
}

.quote span {
    padding-left: 14px;
    font-weight: bold;
}